<div class="authBlock container mt-4">
    <h3>Sign In</h3>
    <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
    </div>
    <div class="formGroup mt-2">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
    </div>
    <!-- Calling SignIn Api from AuthService -->
    <div class="formGroup mt-2">
        <input type="button" class="btn btn-primary btn-sm" value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)">
    </div>


    <div class="redirectToLogin mt-2">
        <span>Don't have an account? <span class="redirect" routerLink="/sign-up">Sign Up</span></span>
    </div>
</div>