<div class="row">
    <div class="col">
        <img class="profile-picture" src="/assets/profile-pic.png">
        <h1>Marianne Varner</h1>
        <div class="skill-chips">
            <p>Programming</p>
            <p>Teaching</p>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis unde, enim velit iusto at quis. Quia,
            omnis? Blanditiis, voluptatum maxime. Maiores repellat reiciendis aperiam aspernatur nam adipisci molestiae
            corporis sunt?</p>
    </div>
    <div class="col">
        <img class="profile-picture" src="/assets/profile-pic.png">
        <h1>Jason Forsythe</h1>
        <div class="skill-chips">
            <p>Programming</p>
            <p>Teaching</p>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis unde, enim velit iusto at quis. Quia,
            omnis? Blanditiis, voluptatum maxime. Maiores repellat reiciendis aperiam aspernatur nam adipisci molestiae
            corporis sunt?</p>
    </div>
    <div class="col">
        <img class="profile-picture" src="/assets/profile-pic.png">
        <h1>James Hovey</h1>
        <div class="skill-chips">
            <p>Programming</p>
            <p>Teaching</p>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis unde, enim velit iusto at quis. Quia,
            omnis? Blanditiis, voluptatum maxime. Maiores repellat reiciendis aperiam aspernatur nam adipisci molestiae
            corporis sunt?</p>
    </div>
</div>